<div class="view-wrapper list-page">
  <dx-data-grid
    class="grid theme-dependent"
    noDataText=""
    height="82vh"
    [dataSource]="dataSource"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    (onExporting)="onExporting($event)"
    (onRowRemoving)="onRowRemoving($event)"
    (onEditingStart)="openEditingStart($event)"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-editing
      mode="popup"
      [allowUpdating]="menuPrevilage.CanEdit"
      [allowDeleting]="menuPrevilage.CanDelete"
      [allowAdding]="menuPrevilage.CanAdd"
      [popup]="{ width: '40%', height: 'auto' }"
    >
      <dxo-popup title="Edit CPT data" [showTitle]="true"></dxo-popup>
    </dxo-editing>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="isFilterRowVisible">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
    <dxo-filter-row [visible]="isFilterRowVisible"></dxo-filter-row>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-search-panel [visible]="true" placeholder=" Search"></dxo-search-panel>
    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="false"
      [formats]="['xlsx']"
    >
    </dxo-export>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">CPT Master</div>
      </dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          icon: isFilterRowVisible ? 'filter' : 'filter',
          hint: isFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
          onClick: toggleFilterRow,
          stylingMode: 'text',

          elementAttr: { class: 'commonButtons' }
        }"
      ></dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          text: 'Refresh',
          icon: 'refresh',
          hint: 'Refresh',
          onClick: refresh,
          stylingMode: 'text'
        }"
      ></dxi-item>

      <dxi-item
        name="exportButton"
        location="after"
        cssClass="custom-export-button"
      ></dxi-item>
      <dxi-item
        location="after"
        widget="dxButton"
        [options]="addButtonOptions"
      ></dxi-item>
    </dxo-toolbar>
    <dxi-column dataField="CPTCode" caption="Code"></dxi-column>
    <dxi-column dataField="CPTName" caption="Name"></dxi-column>
    <dxi-column dataField="Description" caption="Description"></dxi-column>
    <dxi-column dataField="CPTType" caption="CPT Type"></dxi-column>
    <dxi-column dataField="CPTGroup" caption="Group"></dxi-column>
    <dxi-column dataField="Department" caption="Department"></dxi-column>
    <dxi-column dataField="CPTDepartment" caption="Sub Department"></dxi-column>
    <dxi-column dataField="CostDepartment" caption="Cost Center"></dxi-column>
    <dxi-column dataField="FixedQuantity" caption="Fixed Quantity"
    [format]="{ formatter: fixedQtyFormat  }"
    ></dxi-column>
  </dx-data-grid>

  <!-- ============ add new cpt data ============ -->
  <form-popup
    class="formPopupClass"
    [(visible)]="isAddFormPopupOpened"
    (save)="onClickSaveNewCptType()"
    titleText="New CPT Master"
    [height]="'100vh'"
    [width]="'80%'"
    (clear)="resetCptForm()"
    [customValidate]="validateCptForm"
  >
    <app-cpt-master-new-form
      *ngIf="isAddFormPopupOpened"
    ></app-cpt-master-new-form>
  </form-popup>

  <!-- ============ edit cpt master data ============== -->
  <form-popup
    class="formPopupClass"
    [(visible)]="isEditFormPopupOpened"
    (save)="onClickUpdateNewCptType()"
    titleText="Edit CPT Master"
    [height]="'100vh'"
    [width]="'80%'"
    (clear)="clearEditForm()"
    [customValidate]="validateCptEditForm"
  >
    <app-cpt-master-edit-form
      *ngIf="isEditFormPopupOpened"
      [formData]="selectedCptMaster"
    ></app-cpt-master-edit-form>
  </form-popup>
</div>
