<div class="view-wrapper list-page">
  <dx-data-grid
    class="grid theme-dependent"
    noDataText="No Data"
    height="82vh"
    [columns]="columns"
    [dataSource]="dataSource"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    (onEditingStart)="onEditingStart($event)"
    (onExporting)="onExporting($event)"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-editing
      mode="popup"
      [allowUpdating]="menuPrevilage.CanEdit"
      [popup]="{ width: '40%', height: 'auto' }"
    >
    </dxo-editing>

    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row
      *ngIf="isRowSearchVisible"
      [visible]="true"
    ></dxo-filter-row>
    <dxo-search-panel
      [visible]="false"
      placeholder=" Search"
    ></dxo-search-panel>
    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="false"
      [formats]="['xlsx']"
    >
    </dxo-export>

    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">Post-Office Credentials</div>
      </dxi-item>

      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          icon: 'search',
          hint: 'Show/hide search row',
          stylingMode: 'text',
          onClick: showSearch
        }"
      ></dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          hint: 'Refresh',
          icon: 'refresh',
          onClick: refresh,
          stylingMode: 'text'
        }"
      ></dxi-item>
      <dxi-item
        class="me-1"
        name="exportButton"
        cssClass="custom-export-button"
      ></dxi-item>
    </dxo-toolbar>

    <dxo-header-filter [visible]="true">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dx-data-grid>
</div>
<!-- ================ edit popup =============== -->
<dx-popup
  [(visible)]="editPopupVisible"
  [width]="'40%'"
  [height]="'auto'"
  [showTitle]="true"
  title="Postoffice Credentials"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
>
  <dx-form [formData]="selectedRow" [colCount]="1">
    <dxi-item
      dataField="FacilityLicense"
      caption="Facility License"
      [editorOptions]="{ readOnly: true }"
    ></dxi-item>

    <dxi-item
      dataField="FacilityName"
      caption="Facility Name"
      [editorOptions]="{ readOnly: true }"
    ></dxi-item>

    <dxi-item
      dataField="Postoffice"
      caption="PostOffice"
      [editorOptions]="{ readOnly: true }"
    >
    </dxi-item>

    <dxi-item
      dataField="LoginName"
      [editorType]="'dxTextBox'"
      [editorOptions]="loginEditorOptions"
    >
    </dxi-item>

    <dxi-item
      dataField="Password"
      [editorType]="'dxTextBox'"
      [editorOptions]="{ mode: 'password' }"
    >
    </dxi-item>
  </dx-form>

  <div class="d-flex justify-content-end gap-2 mt-3">
    <dx-button
      [disabled]="!(selectedRow?.LoginName && selectedRow?.Password)"
      text="Verify"
      type="default"
      stylingMode="contained"
      (onClick)="onVerifyClick()"
    ></dx-button>

    <dx-button
      text="Update"
      type="success"
      stylingMode="contained"
      [disabled]="!(selectedRow?.LoginName && selectedRow?.Password && isVerified)"
      (onClick)="onUpdateClick()"
    ></dx-button>

    <dx-button
      text="Cancel"
      type="normal"
      stylingMode="outlined"
      (onClick)="editPopupVisible = false"
    ></dx-button>
  </div>
</dx-popup>
<!-- ================ load panel ================ -->
<dx-load-panel
  [visible]="loadingVisible"
  shadingColor="rgba(0,0,0,0.4)"
  [showIndicator]="true"
  [showPane]="true"
  [message]="loadingMessage"
  [closeOnOutsideClick]="false"
>
</dx-load-panel>
