::ng-deep .dx-textbox {
  width: 100%;
  padding: 4px;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--text-color);


}
::ng-deep .dx-selectbox {
  width: 100%;
  padding: 4px;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--text-color);
}