<div class="view-wrapper list-page">
  <dx-data-grid
    class="grid theme-dependent"
    noDataText=""
    height="600"
    [dataSource]="dataSource"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    rowHeight="10px"
    (onExporting)="onExporting($event)"
    (onRowRemoving)="onRowRemoving($event)"
    (onRowUpdating)="onRowUpdating($event)"
    height="84vh"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-editing
      mode="popup"
      [allowUpdating]="menuPrevilage.CanEdit"
      [allowDeleting]="menuPrevilage.CanDelete"
      [allowAdding]="menuPrevilage.CanAdd"
      [popup]="{ width: '40%', height: 'auto' }"
    >
      <dxo-popup title="Edit CPT Type" [showTitle]="true"></dxo-popup>
      <dxo-form [colCount]="1">
        <dxi-item
          dataField="CptType"
          [isRequired]="true"
          editorType="dxTextBox"
          [label]="{ visible: false }"
          [editorOptions]="{
            label: 'CPT Type',
            labelMode: 'floating',
            height: 40
          }"
          [validationRules]="[
            { type: 'required', message: 'CPT Type is required' }
          ]"
        ></dxi-item>
        <dxi-item
          dataField="Description"
          editorType="dxTextArea"
          [label]="{ visible: false }"
          [editorOptions]="{
            label: 'Description',
            labelMode: 'floating',
            height: 200
          }"
        ></dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="isFilterRowVisible">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
    <dxo-filter-row [visible]="isFilterRowVisible"></dxo-filter-row>

    <dxo-search-panel [visible]="true" placeholder=" Search"></dxo-search-panel>
    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="false"
      [formats]="['xlsx']"
    >
    </dxo-export>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">CPT Type</div>
      </dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          icon: isFilterRowVisible ? 'filter' : 'filter',
          hint: isFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
          onClick: toggleFilterRow,
          stylingMode: 'text',
          disabled: '!menuPrevilage.CanAdd',
          elementAttr: { class: 'commonButtons' }
        }"
      ></dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          text: 'Refresh',
          icon: 'refresh',
          hint: 'Refresh',
          onClick: refresh,
          stylingMode: 'text'
        }"
      ></dxi-item>

      <dxi-item
        name="exportButton"
        location="after"
        cssClass="custom-export-button"
      ></dxi-item>

      <dxi-item
        location="after"
        widget="dxButton"
        [options]="addButtonOptions"
      ></dxi-item>
    </dxo-toolbar>

    <!-- <dxo-selection mode="multiple"></dxo-selection> -->

    <dxi-column dataField="CptType" caption="Type"></dxi-column>
    <dxi-column dataField="Description" Caption="Description"></dxi-column>
  </dx-data-grid>

  <form-popup
    class="formPopupClass"
    [(visible)]="isAddFormPopupOpened"
    (save)="onClickSaveNewCptType()"
    titleText="New CPT Type"
    height="auto"
  >
    <app-cpt-type-new-form></app-cpt-type-new-form>
  </form-popup>
</div>
