<div class="view-wrapper list-page">
  <dx-data-grid
    class="main-grid grid theme-dependent"
    noDataText=""
    height="600"
    [dataSource]="dataSource"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    (onExporting)="onExporting($event)"
    (onRowRemoving)="onRowRemoving($event)"
    (onRowUpdating)="onRowUpdating($event)"
    height="82vh"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-editing
      mode="popup"
      [allowUpdating]="menuPrevilage.CanEdit"
      [allowDeleting]="menuPrevilage.CanDelete"
      [allowAdding]="menuPrevilage.CanAdd"
      [popup]="{ width: '30%', height: '70vh' }"
    >
      <dxo-popup title="Edit Facility Group" [showTitle]="true"></dxo-popup>
      <dxo-form [colCount]="1">
        <dxi-item
          dataField="GroupCategory"
          editorType="dxSelectBox"
          [label]="{ visible: false }"
          [editorOptions]="{
            displayExpr: 'DESCRIPTION',
            valueExpr: 'ID',
            label: 'Group Name',
            labelMode: 'floating',
            height: 40
          }"
        ></dxi-item>

        <dxi-item
          dataField="FacilityGroup"
          editorType="dxTextBox"
          [label]="{ visible: false }"
          [editorOptions]="{
            label: 'Desciption',
            labelMode: 'floating',
            height: 40
          }"
        >
          <!-- <dxo-label text="Desciption"></dxo-label> -->
        </dxi-item>

        <dxi-item
          dataField="Description"
          editorType="dxTextArea"
          [label]="{ visible: false }"
          [editorOptions]="{
            label: 'Long Description',
            labelMode: 'floating',
            height: 200
          }"
        >
          <!-- <dxo-label text="Long Description"></dxo-label> -->
        </dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>

    <dxo-header-filter [visible]="isFilterRowVisible">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
    <dxo-filter-row [visible]="isFilterRowVisible"></dxo-filter-row>
    <dxo-search-panel [visible]="true" placeholder=" Search"></dxo-search-panel>
    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="false"
      [formats]="['xlsx']"
    >
    </dxo-export>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">Facility Groups</div>
      </dxi-item>

      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          icon: isFilterRowVisible ? 'filter' : 'filter',
          hint: isFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
          onClick: toggleFilterRow,
          stylingMode: 'text',
          elementAttr: { class: 'commonButtons' }
        }"
      ></dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          text: 'Refresh',
          icon: 'refresh',
          hint: 'refresh',
          onClick: refresh,
          stylingMode: 'text'
        }"
      ></dxi-item>

      <dxi-item
        name="exportButton"
        location="after"
        cssClass="custom-export-button"
      ></dxi-item>
      <dxi-item
        location="after"
        widget="dxButton"
        [options]="addButtonOptions"
      ></dxi-item>
    </dxo-toolbar>

    <dxi-column dataField="GroupCategory" caption="Category">
      <dxo-lookup
        [dataSource]="FacilityLevelDatasource"
        displayExpr="DESCRIPTION"
        valueExpr="ID"
      >
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="FacilityGroup" caption="Description"> </dxi-column>
    <dxi-column dataField="Description" caption="Long Description"></dxi-column>
  </dx-data-grid>
  <form-popup
    class="formPopupClass"
    [(visible)]="isAddFormPopupOpened"
    (save)="onClickSaveNewFacilityGroup()"
    titleText="New Facility Group"
    height="70vh"
  >
    <app-facility-group-new-form></app-facility-group-new-form>
  </form-popup>
</div>
