body {
    display: flex;
    height: 100vh;           /* Full viewport height */
    background-color: #f5f5f5; /* Light background for contrast */
    margin: 0; 
    margin-top: 10px;              /* Remove default margin */
  }
  
  .main {
    width: 400px; /* Fixed width for consistent appearance */
    background-color:var(--base-bg); /* Background color for the card */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px; /* Inner padding */
    margin-left: 35%;
    margin-top: 5%;
    
  }
  
  .header h4 {
    margin: 0; /* Remove margin for the heading */
    font-size: 20px; /* Increase font size */
    
    // color: var(); /* Darker text for better readability */
    padding-bottom: 15px; /* Spacing below the heading */
    border-bottom: 1px solid #eee; /* Subtle bottom border for separation */
  }
  
  body {
    display: flex;                  /* Use Flexbox for centering */
    justify-content: center;        /* Center horizontally */
    align-items: center;            /* Center vertically */
    height: 100vh;                  /* Full viewport height */
    background-color: #f5f5f5;      /* Light background for contrast */                   
  }
  
  .form-popup-buttons-container {
    display: flex; /* Flexbox for button alignment */
    justify-content: space-between; /* Space between buttons */
    margin-top: 30px; /* Space above the buttons */
  }
  
  .dx-text-box {
    width: 100%; /* Ensure text boxes are full width */
  }
  
  .dx-button {
    width: 48%; /* Buttons take up equal width */
  }

  .password-policy {
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: var(--form-bg-color); /* Light background to make the policy stand out */
    border: 1px solid var(--border-color); /* Subtle border to create separation */
  
    div {
      font-size: 12px;
      padding: 5px 0;
      display: flex;
      align-items: center;
      color: var(--text-color); /* Default text color */
      transition: color 0.3s ease; /* Smooth transition for color changes */
    }
  
    .invalid {
      color: var(--error-color); /* Red for invalid state */
      
      &::before {
        content: '✗'; /* Red cross icon for invalid rule */
        font-size: 12x;
        margin-right: 8px;
        color: var(--error-color);
      }
    }
  
    .valid {
      color: var(--success-color); /* Green for valid state */
      
      &::before {
        content: '✓'; /* Green check icon for valid rule */
        font-size: 12px;
        margin-right: 8px;
        color: var(--success-color);
      }
    }
  }
  
  