<div class="mainDiv view-wrapper scrollable-container">
  <div class="d-flex justify-content-center">
    <div class="p-1 m-0 mb-1 w-100">
      <h6 class="border-bottom">Claim Details</h6>

      <dx-data-grid
        [dataSource]="ClaimDetailsDataSource"
        [showBorders]="true"
        [columnAutoWidth]="true"
        [rowAlternationEnabled]="true"
        height="10vh"
      >
        <ng-container *ngFor="let column of ClaimColumns">
          <dxi-column
            *ngIf="column.isBand"
            [caption]="column.caption"
            [isBand]="true"
          >
            <dxi-column
              *ngFor="let subColumn of column.columns"
              [dataField]="subColumn.dataField"
              [caption]="subColumn.caption"
              [format]="subColumn.format"
              [visible]="subColumn.visible"
            ></dxi-column>
          </dxi-column>

          <dxi-column
            *ngIf="!column.isBand"
            [dataField]="column.dataField"
            [caption]="column.caption"
            [format]="column.format"
            [visible]="column.visible"
          ></dxi-column>
        </ng-container>
      </dx-data-grid>
    </div>
  </div>

  <!-- ===================== Revenue Data ===================== -->
  <div class="d-flex justify-content-center">
    <div class="p-1 m-0 mb-1 w-100">
      <h6 class="m-0 border-bottom mb-2">Activity Details</h6>
      <dx-data-grid
        #detailsdatagrid
        [dataSource]="AcitivityDataSource"
        [summary]="AcitivitysummaryColumnsData"
        [showBorders]="true"
        [columnAutoWidth]="true"
        [rowAlternationEnabled]="true"
        [height]="AcitivityDataSource?.length > 10 ? '50vh' : '30vh'"
        [keyExpr]="'ClaimActivityUID'"
        [selection]="{ mode: 'single' }"
        (onContentReady)="onGridContentReady($event)"
        (onSelectionChanged)="headerDataRowExpanding($event)"
        (onEditingStart)="onEditingStart($event)"
        (onRowUpdating)="onRowUpdating($event)"
      >
        <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>

        <dxi-column
          type="detailExpand"
          width="40"
          fixed="true"
          fixedPosition="left"
        ></dxi-column>

        <ng-container *ngFor="let column of ActivityColumnData">

  <!-- RevenueDepartment column -->
        <dxi-column
          *ngIf="column.dataField === 'RevenueDepartment'"
          [dataField]="column.dataField"
          [caption]="column.caption"
          [visible]="column.visible"
          [allowEditing]="canEditRow"
        >
          <dxo-lookup
            [dataSource]="costingDepartments"
            valueExpr="ID"
            displayExpr="DESCRIPTION"
          >
          </dxo-lookup>
        </dxi-column>

        <!-- Qty_Weightage column (editable conditionally) -->
        <dxi-column
          *ngIf="column.dataField === 'Qty_Weight'"
          [dataField]="column.dataField"
          [caption]="column.caption"
          [format]="column.format"
          [visible]="column.visible"
          [allowEditing]="canEditRow"
          [calculateDisplayValue]="formatQtyWeight"
        >
        </dxi-column>

        <!-- All other normal columns read-only -->
        <dxi-column
          *ngIf="column.dataField !== 'RevenueDepartment' 
                && column.dataField !== 'Qty_Weight'
                && !column.isBand"
          [dataField]="column.dataField"
          [caption]="column.caption"
          [format]="column.format"
          [visible]="column.visible"
          [allowEditing]="false"
        >
        </dxi-column>

        <!-- Band columns -->
        <dxi-column
          *ngIf="column.isBand"
          [caption]="column.caption"
          [isBand]="true"
        >
          <dxi-column
            *ngFor="let subColumn of column.columns"
            [dataField]="subColumn.dataField"
            [caption]="subColumn.caption"
            [format]="subColumn.format"
            [visible]="subColumn.visible"
            [allowEditing]="false"
          ></dxi-column>
        </dxi-column>

      </ng-container>


        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-header-filter [visible]="true">
          <dxo-search [enabled]="true"></dxo-search>
        </dxo-header-filter>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <!-- <dxo-master-detail
          [enabled]="true"
          template="detail"
        ></dxo-master-detail>

        <div class="masterDetailsDiv" *dxTemplate="let subdata of 'detail'">
          <dx-data-grid
            #subDetailsGrid
            [dataSource]="filteredActivityCostingDataSource"
            [showBorders]="true"
            [columnAutoWidth]="true"
            [rowAlternationEnabled]="true"
            [height]="
              filteredActivityCostingDataSource?.length > 10 ? '35vh' : 'auto'
            "
          >
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <ng-container *ngFor="let column of ActivityCostingColumnData">
              <dxi-column
                *ngIf="column.isBand"
                [caption]="column.caption"
                [isBand]="true"
              >
                <dxi-column
                  *ngFor="let subColumn of column.columns"
                  [dataField]="subColumn.dataField"
                  [caption]="subColumn.caption"
                  [format]="subColumn.format"
                  [visible]="subColumn.visible"
                ></dxi-column>
              </dxi-column>

              <dxi-column
                *ngIf="!column.isBand"
                [dataField]="column.dataField"
                [caption]="column.caption"
                [format]="column.format"
                [visible]="column.visible"
              ></dxi-column>
            </ng-container>
          </dx-data-grid>
        </div> -->
      </dx-data-grid>
    </div>
  </div>

  <!-- ===================== Expense Data ===================== -->
  <div class="d-flex justify-content-center">
    <div class="p-1 m-0 mb-1 w-100">
      <h6 class="border-bottom">Activity Costing</h6>

      <dx-data-grid
        #subDetailsGrid
        [dataSource]="filteredActivityCostingDataSource"
        [showBorders]="true"
        [columnAutoWidth]="true"
        [rowAlternationEnabled]="true"
        [height]="
          filteredActivityCostingDataSource?.length > 10 ? '30vh' : '30vh'
        "
      >
        <dxo-header-filter [visible]="true">
          <dxo-search [enabled]="true"></dxo-search>
        </dxo-header-filter>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <ng-container *ngFor="let column of ActivityCostingColumnData">
          <dxi-column
            *ngIf="column.isBand"
            [caption]="column.caption"
            [isBand]="true"
          >
            <dxi-column
              *ngFor="let subColumn of column.columns"
              [dataField]="subColumn.dataField"
              [caption]="subColumn.caption"
              [format]="subColumn.format"
              [visible]="subColumn.visible"
              width="200"
            ></dxi-column>
          </dxi-column>

          <dxi-column
            *ngIf="!column.isBand"
            [dataField]="column.dataField"
            [caption]="column.caption"
            [format]="column.format"
            [visible]="column.visible"
          ></dxi-column>
        </ng-container>

        <dxo-summary>
          <dxi-total-item
            [column]="'Cost'"
            summaryType="sum"
            [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
            displayFormat="Total: {0}"
          >
          </dxi-total-item>
        </dxo-summary>
      </dx-data-grid>
    </div>
  </div>

  <!-- ======= Load panel ========= -->
  <dx-load-panel
    #loadPanel
    [position]="{ of: '.mainDiv', at: 'center', my: 'center' }"
    shadingColor="rgba(0,0,0,0.6)"
    [(visible)]="loadingVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [message]="'Loading...'"
  >
  </dx-load-panel>
</div>
<!-- ============ costing department update popup =========== -->
<dx-popup
  [(visible)]="isPopupVisible"
  [showTitle]="true"
  title="Costing Department Entry"
  [width]="400"
  height="auto"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
>
  <div class="p-2">
    <!-- Costing Department Dropdown -->
    <div class="mb-3">
      <dx-select-box
        label="Costing Department"
        labelMode="floating"
        [(value)]="selectedDepartment"
        [dataSource]="costingDepartments"
        displayExpr="DESCRIPTION"
        valueExpr="ID"
        placeholder="Select Department"
        [searchEnabled]="true"
      ></dx-select-box>
    </div>

    <!-- Reason Textarea -->
    <div class="mb-3">
      <dx-text-box
        label="Reason"
        labelMode="floating"
        [(value)]="reasonText"
        placeholder="Enter reason"
      ></dx-text-box>
    </div>
  </div>

  <div
    class="dx-popup-bottom toolbar-buttons d-flex justify-content-end gap-2 p-2"
  >
    <dx-button
      text="Cancel"
      stylingMode="outlined"
      (onClick)="isPopupVisible = false"
    ></dx-button>

    <dx-button
      [disabled]="!selectedDepartment"
      text="Update"
      type="default"
      stylingMode="contained"
      (onClick)="Update_Costing_Department()"
      class="btn-sm"
    ></dx-button>
  </div>
</dx-popup>
