// .scrollable-container {
//   // max-height: 100vh;
//   // overflow-y: auto;
//   padding-right: 8px;
//   margin: 0px;
//   padding: 0px;
// }

.mainDiv {
  display: flex;
  flex-direction: column;
  // gap: 1rem;
}

::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row > td,
::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row:hover > td,
::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row.dx-hover > td {
  background-color: #91adf4 !important;
}
