@use "../../../../variables.scss" as *;

// .reset-password-form {
//   ::ng-deep .submit-button {
//     margin-top: 18px;
//   }

//   a {
//     cursor: pointer;
//   }

//   .login-link {
//     color: var(--accent-color);
//     font-size: 12px;
//     text-align: center;
//     margin-top: 6px;
//   }
// }





.reset-password-form {
  transition: height 0.3s ease;
  width: 400px;  /* Maximum width for the form */
  padding: 10px;     /* Padding around the content */
  // background-color: var(--base-bg); /* Background color of the form */
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */


  .dx-text-box {
    width: 100%; /* Full width for input elements */
  }

  .dx-button {
    width: 100%; /* Full width for buttons */
    margin-top: 10px; /* Space between buttons */
  }

  .otp-section {
    margin-top: 20px; /* Extra spacing for OTP input section */
  }
  .otp-container {
    display: flex;
    flex-direction: column;
  }

  .otp-inputs {
    display: flex;
    justify-content: center;
  }

  .otp-input {
    width: 40px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

/* Additional styling for better user experience */
::ng-deep .dx-button {
  height: 40px; /* Consistent button height */
  font-size: 16px; /* Larger font size for better readability */
}

::ng-deep .dx-textbox-wrapper {
  border-color: #d1d1d1; /* Lighter border for input fields */
}
.header{
  margin-bottom: 50px;
}

.password-policy {
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--form-bg-color); /* Light background to make the policy stand out */
  border: 1px solid var(--border-color); /* Subtle border to create separation */

  div {
    font-size: 12px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    color: var(--text-color); /* Default text color */
    transition: color 0.3s ease; /* Smooth transition for color changes */
  }

  .invalid {
    color: var(--error-color); /* Red for invalid state */

    &::before {
      content: '✗'; /* Red cross icon for invalid rule */
      font-size: 12px;
      margin-right: 8px;
      color: var(--error-color);
    }
  }

  .valid {
    color: var(--success-color); /* Green for valid state */

    &::before {
      content: '✓'; /* Green check icon for valid rule */
      font-size: 12px;
      margin-right: 8px;
      color: var(--success-color);
    }
  }
}

.close-icon {
  cursor: pointer; /* Change cursor to indicate clickable */
  font-size: 24px; /* Adjust size */
  color: var(--base-text-color);
  transition: color 0.3s; /* Smooth transition for hover effect */
  width: 10px;
  background: none;
}
