<div class="clinical-data-root">
  <div class="view-wrapper list-page">
    <div class="container-fluid toolbar-fields p-2">
      <div class="row align-items-center g-2">
        <div class="col-auto">
          <dx-drop-down-box
            #facilityDropDownBox
            label="Facility"
            labelMode="floating"
            labelLocation="left"
            [(value)]="selectedFacility"
            valueExpr="FacilityLicense"
            [displayExpr]="displayFacility"
            [showClearButton]="true"
            [dataSource]="facilityListDataSource"
            [width]="'250'"
            [dropDownOptions]="{ width: '400' }"
          >
            <div *dxTemplate="let data of 'content'">
              <dx-data-grid
                #facilityGrid
                [dataSource]="facilityListDataSource"
                keyExpr="FacilityLicense"
                [columns]="[
                  { dataField: 'FacilityLicense', caption: 'License' },
                  { dataField: 'FacilityName', caption: 'Name' },
                ]"
                [selection]="{ mode: 'single' }"
                [hoverStateEnabled]="true"
                [paging]="{ enabled: true, pageSize: 10 }"
                [filterRow]="{ visible: true }"
                [headerFilter]="{ visible: true }"
                [scrolling]="{ mode: 'virtual' }"
                [height]="'auto'"
                [(selectedRowKeys)]="selectedFacility"
                (onSelectionChanged)="
                  selectedFacility = $event.selectedRowKeys[0];
                  facilityDropDownBox.instance.close()
                "
              ></dx-data-grid>
            </div>
          </dx-drop-down-box>
        </div>

        <!-- <div class="col-auto">
          <dx-select-box
            label="Search On"
            labelMode="floating"
            labelLocation="left"
            [items]="searchOnDataSource"
            valueExpr="id"
            displayExpr="name"
            [(value)]="selectedSearchOn"
            [width]="180"
          >
          </dx-select-box>
        </div> -->

        <div class="col-auto">
          <dx-select-box
            labelMode="floating"
            labelLocation="left"
            label="Year"
            [(value)]="selectedYear"
            [dataSource]="years"
            (onValueChanged)="onYearChanged($event)"
            placeholder="Year"
            [width]="'auto'"
            [width]="100"
          ></dx-select-box>
        </div>

        <div class="col-auto">
          <dx-select-box
            labelMode="floating"
            labelLocation="left"
            label="month"
            [dataSource]="monthDataSource"
            displayExpr="name"
            valueExpr="value"
            [(value)]="selectedmonth"
            (onValueChanged)="onMonthValueChanged($event)"
            [width]="140"
          >
          </dx-select-box>
        </div>

        <div class="col-auto">
          <dx-date-box
            label="From Date"
            labelMode="floating"
            labelLocation="left"
            [(value)]="fromDate"
            [displayFormat]="'dd-MM-yyyy'"
            type="date"
            [width]="130"
            [min]="minDate"
            [max]="maxDate"
          >
          </dx-date-box>
        </div>

        <div class="col-auto">
          <dx-date-box
            label="To Date"
            labelMode="floating"
            labelLocation="left"
            [(value)]="toDate"
            [displayFormat]="'dd-MM-yyyy'"
            [min]="fromDate"
            [max]="today"
            type="date"
            [width]="130"
          >
          </dx-date-box>
        </div>

        <div class="col-auto ms-auto mt-3 apply-btn-container d-flex">
          <dx-button
            text="Apply"
            icon=""
            class="apply_button"
            type="default"
            [disabled]="isApplyButtonDisabled()"
            (onClick)="onApplyFilter()"
          >
          </dx-button>
        </div>
      </div>
    </div>

    <dx-data-grid
      class="grid theme-dependent"
      [dataSource]="xmlGridData"
      [showBorders]="true"
      [columnAutoWidth]="true"
      [height]="'77vh'"
      keyExpr="XMLFileName"
      [(focusedRowKey)]="focusedRowKey"
      [focusedRowEnabled]="true"
      [(selectedRowKeys)]="selectedRowKeys"
      (onSelectionChanged)="onSelectionChanged($event)"
      (onCellClick)="onCellClick($event)"
    >
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-paging [pageSize]="25"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="showInfo"
        [showNavigationButtons]="showNavButtons"
      >
      </dxo-pager>
      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="isFilterRowVisible"></dxo-header-filter>
      <dxo-filter-panel [visible]="isFilterRowVisible"></dxo-filter-panel>
      <dxo-filter-builder [allowHierarchicalFields]="true">
      </dxo-filter-builder>
      <dxo-filter-row [visible]="isFilterRowVisible"></dxo-filter-row>

      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Upload XML</div>
        </dxi-item>

        <dxi-item>
          <dx-select-box
            class="me-2"
            [items]="uploadOptions"
            [(value)]="uploadMode"
            width="220"
            displayExpr="text"
            valueExpr="value"
            stylingMode="outlined"
            placeholder="Select Mode"
            [readOnly]="true"
            (onValueChanged)="onUploadModeChanged()"
          >
          </dx-select-box>
        </dxi-item>

        <dxi-item
          name="processButton"
          location="after"
          widget="dxButton"
          [options]="processButtonOptions"
        ></dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          showText="inMenu"
          widget="dxButton"
          [options]="{
            icon: isFilterRowVisible ? 'filter' : 'filter',
            hint: isFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
            onClick: toggleFilterRow,
            stylingMode: 'text',
            elementAttr: { class: 'commonButtons' },
          }"
        ></dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          showText="inMenu"
          widget="dxButton"
          [options]="{
            text: 'Refresh',
            icon: 'refresh',
            onClick: refresh,
            stylingMode: 'text',
            hint: 'Refresh',
          }"
        ></dxi-item>

        <dxi-item
          name="exportButton"
          location="after"
          cssClass="custom-export-button"
        ></dxi-item>

        <dxi-item
          location="after"
          widget="dxButton"
          [options]="importButtonOptions"
        ></dxi-item>
      </dxo-toolbar>

      <dxi-column
        dataField="XMLFileID"
        caption="ID"
        [visible]="false"
      ></dxi-column>

      <dxi-column
        dataField="XMLFileName"
        caption="File Name"
        width="200"
      ></dxi-column>

      <dxi-column dataField="SenderID" caption="Sender ID"></dxi-column>

      <dxi-column
        dataField="ReceiverID"
        caption="Receiver ID"
        width="120"
      ></dxi-column>

      <dxi-column
        dataField="TransactionDate"
        caption="Transaction Date"
      ></dxi-column>

      <dxi-column
        dataField="RecordCount"
        caption="Record Count"
        alignment="center"
        width="120"
      ></dxi-column>

      <dxi-column
        dataField="ImportedBy"
        caption="Imported By"
        width="120"
      ></dxi-column>

      <dxi-column
        dataField="ImportedOn"
        caption="Imported On"
        width="160"
      ></dxi-column>

      <dxi-column
        dataField="TestUpload"
        caption="Test Upload"
        cellTemplate="testUploadCellTemplate"
        width="160"
      ></dxi-column>

      <dxi-column
        dataField="ProductionUpload"
        caption="Production Upload"
        cellTemplate="ProductionUploadCellTemplate"
        width="160"
      ></dxi-column>

      <!-- Details Icon Column -->
      <dxi-column type="buttons" caption="" [width]="60" alignment="center">
        <dxi-button
          hint="View XML"
          icon="bi bi-filetype-xml"
          stylingMode="text"
          [onClick]="onDetailsClick"
        >
        </dxi-button>
      </dxi-column>

      <!-- Template for Test Upload -->
      <div *dxTemplate="let cell of 'testUploadCellTemplate'">
        <span
          [title]="cell.data.TestUpload"
          [ngStyle]="{
            color:
              (cell.data.TestUpload || '').toLowerCase() === 'failed'
                ? 'red'
                : 'inherit',
            'text-decoration':
              (cell.data.TestUpload || '').toLowerCase() === 'failed'
                ? 'underline'
                : 'none',
            cursor:
              (cell.data.TestUpload || '').toLowerCase() === 'failed'
                ? 'pointer'
                : 'default',
          }"
        >
          {{ truncateText(cell.data.TestUpload, 10) }}
        </span>
      </div>

      <!-- Template for Production Upload -->
      <div *dxTemplate="let cell of 'ProductionUploadCellTemplate'">
        <span
          [title]="cell.data.ProductionUpload"
          [ngStyle]="{
            color:
              (cell.data.ProductionUpload || '').toLowerCase() === 'failed'
                ? 'red'
                : 'inherit',
            'text-decoration':
              (cell.data.ProductionUpload || '').toLowerCase() === 'failed'
                ? 'underline'
                : 'none',
            cursor:
              (cell.data.ProductionUpload || '').toLowerCase() === 'failed'
                ? 'pointer'
                : 'default',
          }"
          class="text-truncate-cell"
        >
          {{ truncateText(cell.data.ProductionUpload, 10) }}
        </span>
      </div>
    </dx-data-grid>

    <input
      #fileInput
      style="display: none"
      id="xml-file"
      type="file"
      (change)="onFileSelected($event, fileInput)"
      accept=".xml"
      multiple
    />

    <dx-load-panel
      [visible]="isUploading"
      shadingColor="rgba(0,0,0,0.4)"
      [showIndicator]="true"
      [showPane]="true"
      [shading]="true"
      [closeOnOutsideClick]="false"
    >
      <div *dxTemplate="let data of 'content'">
        <div class="text-center p-3">
          <h4>Uploading Files...</h4>
          <p>Total: {{ totalCount }}</p>
          <b
            ><p>✅ Uploaded: {{ completedCount }}</p>
            <p>❌ Failed: {{ failedCount }}</p>
            <p>
              ⏳ Remaining: {{ totalCount - (completedCount + failedCount) }}
            </p></b
          >

          <dx-button
            text="Cancel"
            type="danger"
            stylingMode="contained"
            (onClick)="cancelUpload()"
            class="mt-3"
          ></dx-button>
        </div>
      </div>
    </dx-load-panel>

    <!-- import claim xml Progress Popup-->
    <dx-popup
      class="formPopupClass"
      [(visible)]="isResponsePopupOpened"
      title="Import Claim XML Files"
      height="100vh"
      width="75vw"
    >
      <div *dxTemplate="let data of 'content'" style="height: 100%">
        <dx-data-grid
          [dataSource]="importResults"
          [showBorders]="true"
          [columnAutoWidth]="true"
          [height]="'90%'"
          (onExporting)="onExporting($event)"
          (onCellPrepared)="onStatusCellPrepared($event)"
          [allowColumnResizing]="true"
          [allowColumnReordering]="true"
          [rowAlternationEnabled]="true"
          rowAlternationInterval="2"
        >
          <dxo-export
            [enabled]="true"
            [allowExportSelectedData]="false"
            [formats]="['xlsx']"
          >
          </dxo-export>

          <dxo-pager
            [visible]="true"
            [allowedPageSizes]="allowedPageSizes"
            [displayMode]="displayMode"
            [showPageSizeSelector]="showPageSizeSelector"
            [showInfo]="showInfo"
            [showNavigationButtons]="showNavButtons"
          >
          </dxo-pager>
          <dxo-scrolling mode="virtual"></dxo-scrolling>
          <dxo-load-panel [enabled]="true"> </dxo-load-panel>
          <dxo-header-filter [visible]="true">
            <dxo-search [enabled]="true"></dxo-search>
          </dxo-header-filter>
          <dxo-filter-row [visible]="true"></dxo-filter-row>

          <!-- Define columns explicitly -->
          <dxi-column dataField="FacilityID" caption="Facility ID"></dxi-column>
          <dxi-column dataField="ReceiverID" caption="Receiver ID"></dxi-column>
          <dxi-column
            dataField="TransactionDate"
            caption="Transaction Date"
          ></dxi-column>
          <dxi-column
            dataField="RecordCount"
            caption="Record Count"
          ></dxi-column>
          <dxi-column dataField="XMLFileName" caption="File Name"></dxi-column>
          <dxi-column
            dataField="Status"
            caption="Status"
            width="auto"
          ></dxi-column>
          <dxi-column
            dataField="FailedReason"
            caption="Failed Reason"
          ></dxi-column>
        </dx-data-grid>

        <div style="padding-top: 10px">
          <dx-progress-bar
            id="progress-bar-status"
            width="100%"
            [min]="0"
            [max]="totalFiles"
            [value]="progressValue"
            [statusFormat]="format"
            style="margin: 10px auto"
          >
          </dx-progress-bar>
        </div>
      </div>
    </dx-popup>

    <!-- Popup 2: XML Details show and regenerate popup -->
    <dx-popup
      [(visible)]="showXmlDetailsPopup"
      [height]="'90vh'"
      [width]="'90%'"
      title="XML Data"
      [dragEnabled]="true"
      [closeOnOutsideClick]="false"
      (onHidden)="onPopupHidden()"
    >
      <div class="d-flex flex-column h-100 p-2">
        <!-- Header -->
        <div class="mb-2">
          <strong>{{ XmlFileName }}</strong>
        </div>

        <!-- XML Content -->
        <div class="xml-container">
          <pre>{{ xmlData }}</pre>
        </div>

        <!-- Footer -->
        <div class="d-flex justify-content-end mt-3">
          <dx-button
            text="Cancel"
            type="normal"
            stylingMode="outlined"
            (onClick)="onPopupHidden()"
          >
          </dx-button>

          <dx-button
            class="ms-2"
            text="Download"
            type="default"
            stylingMode="contained"
            (onClick)="downloadXmlFile()"
          >
          </dx-button>
        </div>
      </div>
    </dx-popup>
  </div>
</div>
