@use "../../../../variables.scss" as *;

.login-form {
  width: 400px;
  height: 300px;
  margin-top: 50px;
  ::ng-deep .form-text {
    color: var(--base-text-color-alpha);
  }
}

.reset-link {
  text-align: end;
  /* font-size: 12px; */
  font-style: normal;
  // margin: 6px 0 50px 0;
  font-size: large;

  a {
    cursor: pointer;
    color: rgba(25, 108, 153, 1);
  }
}

